# Project
__pycache__/
.vscode/
_ext

# Build directories
build/
dist/
vendor/
*.egg-info/
*.egg
*.whl
*.manifest
*.spec

# Setup tools
.env
.venv/
venv/
ENV/
*.log

# PyTorch extensions
*.so
*.o
*.pyc
*.pyo
*.pyd


